/AT20_CONVERT_SERVICE_TS
/vagrant/.vagrant
/vagrant/ubuntu-bionic-18.04-cloudimg-console.log
/vagrant/.env
/terraform/.terraform
/terraform/.terraform.lock.hcl
/terraform/terraform.exe
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/virtualbox.box
/terraform/vagrant
/terraform/vagrant.pub

